# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
.dist/
.Python
.venv/
venv/
env/

# Django
*.log
*.pot
*.pyc
*.sqlite3
media/
staticfiles/

# Envs and secrets
.env
.env.*
*.secret

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# OS files
.DS_Store
Thumbs.db

# Archives
*.zip
*.tar
*.tar.gz

# Test/coverage
.pytest_cache/
.coverage*
htmlcov/

# Node (if any)
node_modules/
